<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="phonegap-plugin-barcodescanner" version="6.0.5">
  <name>BarcodeScanner</name>
  <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
  <license>MIT</license>
  <repo>https://github.com/phonegap/phonegap-plugin-barcodescanner</repo>
  <issue>https://github.com/phonegap/phonegap-plugin-barcodescanner/issues</issue>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/barcodescanner.js" name="BarcodeScanner">
    <clobbers target="cordova.plugins.barcodeScanner"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BarcodeScanner">
        <param name="ios-package" value="CDVBarcodeScanner"/>
      </feature>
    </config-file>
    <preference name="CAMERA_USAGE_DESCRIPTION" default=" "/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>
    <resource-file src="src/ios/scannerOverlay.xib"/>
    <resource-file src="src/ios/CDVBarcodeScanner.bundle"/>

    <!-- ZXingObjC proj files -->
    <header-file src="src/ios/ZXingObjC/ZXingObjC/ZXingObjC.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/ZXMultiFormatReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/ZXMultiFormatReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/ZXMultiFormatWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/ZXMultiFormatWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXAztecDetectorResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXAztecDetectorResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXAztecReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXAztecReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXAztecWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXAztecWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/ZXingObjCAztec.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/decoder/ZXAztecDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/decoder/ZXAztecDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/detector/ZXAztecDetector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/detector/ZXAztecDetector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecBinaryShiftToken.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecBinaryShiftToken.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecCode.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecCode.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecHighLevelEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecHighLevelEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecSimpleToken.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecSimpleToken.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecState.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecState.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecToken.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/aztec/encoder/ZXAztecToken.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXCapture.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXCapture.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXCaptureDelegate.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXCGImageLuminanceSource.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXCGImageLuminanceSource.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXImage.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/ZXImage.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAbstractDoCoMoResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAbstractDoCoMoResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAddressBookAUResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAddressBookAUResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAddressBookDoCoMoResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAddressBookDoCoMoResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAddressBookParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXAddressBookParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXBizcardResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXBizcardResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXBookmarkDoCoMoResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXBookmarkDoCoMoResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXCalendarParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXCalendarParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXEmailAddressParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXEmailAddressParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXEmailAddressResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXEmailAddressResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXEmailDoCoMoResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXEmailDoCoMoResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXExpandedProductParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXExpandedProductParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXExpandedProductResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXExpandedProductResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXGeoParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXGeoParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXGeoResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXGeoResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXISBNParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXISBNParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXISBNResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXISBNResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXParsedResultType.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXProductParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXProductParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXProductResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXProductResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMSMMSResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMSMMSResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMSParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMSParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMSTOMMSTOResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMSTOMMSTOResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMTPResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXSMTPResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXTelParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXTelParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXTelResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXTelResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXTextParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXTextParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXURIParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXURIParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXURIResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXURIResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXURLTOResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXURLTOResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVCardResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVCardResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVEventResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVEventResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVINParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVINParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVINResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXVINResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXWifiParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXWifiParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXWifiResultParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/client/result/ZXWifiResultParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBitArray.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBitArray.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBitMatrix.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBitMatrix.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBitSource.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBitSource.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBoolArray.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXBoolArray.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXByteArray.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXByteArray.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXCharacterSetECI.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXCharacterSetECI.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXDecoderResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXDecoderResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXDefaultGridSampler.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXDefaultGridSampler.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXDetectorResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXDetectorResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXGlobalHistogramBinarizer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXGlobalHistogramBinarizer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXGridSampler.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXGridSampler.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXHybridBinarizer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXHybridBinarizer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXIntArray.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXIntArray.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXPerspectiveTransform.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXPerspectiveTransform.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXStringUtils.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/ZXStringUtils.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/detector/ZXMathUtils.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/detector/ZXMathUtils.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/detector/ZXMonochromeRectangleDetector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/detector/ZXMonochromeRectangleDetector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/detector/ZXWhiteRectangleDetector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/detector/ZXWhiteRectangleDetector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXGenericGF.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXGenericGF.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXGenericGFPoly.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXGenericGFPoly.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXReedSolomonDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXReedSolomonDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXReedSolomonEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/common/reedsolomon/ZXReedSolomonEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXBarcodeFormat.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXBinarizer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXBinarizer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXBinaryBitmap.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXBinaryBitmap.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXByteMatrix.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXByteMatrix.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXDecodeHints.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXDecodeHints.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXDimension.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXDimension.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXEncodeHints.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXEncodeHints.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXErrors.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXErrors.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXingObjCCore.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXInvertedLuminanceSource.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXInvertedLuminanceSource.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXLuminanceSource.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXLuminanceSource.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXPlanarYUVLuminanceSource.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXPlanarYUVLuminanceSource.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXReader.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXResultMetadataType.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXResultPoint.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXResultPoint.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXResultPointCallback.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXRGBLuminanceSource.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXRGBLuminanceSource.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/core/ZXWriter.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/ZXDataMatrixReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/ZXDataMatrixReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/ZXDataMatrixWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/ZXDataMatrixWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/ZXingObjCDataMatrix.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixBitMatrixParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixBitMatrixParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixDataBlock.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixDataBlock.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixDecodedBitStreamParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixDecodedBitStreamParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixVersion.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/decoder/ZXDataMatrixVersion.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/detector/ZXDataMatrixDetector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/detector/ZXDataMatrixDetector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixASCIIEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixASCIIEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixBase256Encoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixBase256Encoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixC40Encoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixC40Encoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixDefaultPlacement.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixDefaultPlacement.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixEdifactEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixEdifactEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixEncoder.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixEncoderContext.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixEncoderContext.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixErrorCorrection.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixErrorCorrection.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixHighLevelEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixHighLevelEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixSymbolInfo.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixSymbolInfo.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixSymbolInfo144.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixSymbolInfo144.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixTextEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixTextEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixX12Encoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/datamatrix/encoder/ZXDataMatrixX12Encoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/ZXingObjCMaxiCode.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/ZXMaxiCodeReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/ZXMaxiCodeReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/decoder/ZXMaxiCodeBitMatrixParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/decoder/ZXMaxiCodeBitMatrixParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/decoder/ZXMaxiCodeDecodedBitStreamParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/decoder/ZXMaxiCodeDecodedBitStreamParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/decoder/ZXMaxiCodeDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/maxicode/decoder/ZXMaxiCodeDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/multi/ZXByQuadrantReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/multi/ZXByQuadrantReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/multi/ZXGenericMultipleBarcodeReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/multi/ZXGenericMultipleBarcodeReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/multi/ZXMultipleBarcodeReader.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCodaBarReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCodaBarReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCodaBarWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCodaBarWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode128Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode128Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode128Writer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode128Writer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode39Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode39Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode39Writer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode39Writer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode93Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXCode93Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN13Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN13Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN13Writer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN13Writer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN8Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN8Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN8Writer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEAN8Writer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEANManufacturerOrgSupport.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXEANManufacturerOrgSupport.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXingObjCOneD.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXITFReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXITFReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXITFWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXITFWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXMultiFormatOneDReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXMultiFormatOneDReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXMultiFormatUPCEANReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXMultiFormatUPCEANReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXOneDimensionalCodeWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXOneDimensionalCodeWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXOneDReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXOneDReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCAReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCAReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCAWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCAWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANExtension2Support.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANExtension2Support.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANExtension5Support.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANExtension5Support.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANExtensionSupport.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANExtensionSupport.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEANWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/ZXUPCEReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXAbstractRSSReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXAbstractRSSReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSS14Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSS14Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSDataCharacter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSDataCharacter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSFinderPattern.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSFinderPattern.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSPair.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSPair.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSUtils.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/ZXRSSUtils.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXBitArrayBuilder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXBitArrayBuilder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXRSSExpandedPair.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXRSSExpandedPair.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXRSSExpandedReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXRSSExpandedReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXRSSExpandedRow.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/ZXRSSExpandedRow.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAbstractExpandedDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAbstractExpandedDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI013103decoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI013103decoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01320xDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01320xDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01392xDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01392xDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01393xDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01393xDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI013x0x1xDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI013x0x1xDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI013x0xDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI013x0xDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01AndOtherAIs.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01AndOtherAIs.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01decoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01decoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01weightDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAI01weightDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAnyAIDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXAnyAIDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedBlockParsedResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedBlockParsedResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedCurrentParsingState.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedCurrentParsingState.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedChar.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedChar.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedInformation.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedInformation.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedNumeric.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedNumeric.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedObject.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedDecodedObject.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedFieldParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedFieldParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedGeneralAppIdDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/oned/rss/expanded/decoders/ZXRSSExpandedGeneralAppIdDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXingObjCPDF417.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417Common.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417Common.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417Reader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417Reader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417ResultMetadata.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417ResultMetadata.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417Writer.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/ZXPDF417Writer.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417BarcodeMetadata.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417BarcodeMetadata.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417BarcodeValue.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417BarcodeValue.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417BoundingBox.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417BoundingBox.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417Codeword.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417Codeword.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417CodewordDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417CodewordDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DecodedBitStreamParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DecodedBitStreamParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DetectionResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DetectionResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DetectionResultColumn.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DetectionResultColumn.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DetectionResultRowIndicatorColumn.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417DetectionResultRowIndicatorColumn.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417ScanningDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ZXPDF417ScanningDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ec/ZXModulusGF.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ec/ZXModulusGF.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ec/ZXModulusPoly.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ec/ZXModulusPoly.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ec/ZXPDF417ECErrorCorrection.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/decoder/ec/ZXPDF417ECErrorCorrection.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/detector/ZXPDF417Detector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/detector/ZXPDF417Detector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/detector/ZXPDF417DetectorResult.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/detector/ZXPDF417DetectorResult.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417BarcodeMatrix.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417BarcodeMatrix.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417BarcodeRow.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417BarcodeRow.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417Dimensions.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417Dimensions.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417ErrorCorrection.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417ErrorCorrection.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417HighLevelEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/pdf417/encoder/ZXPDF417HighLevelEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/ZXingObjCQRCode.h" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/ZXQRCodeReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/ZXQRCodeReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/ZXQRCodeWriter.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/ZXQRCodeWriter.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeBitMatrixParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeBitMatrixParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDataBlock.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDataBlock.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDataMask.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDataMask.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDecodedBitStreamParser.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDecodedBitStreamParser.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDecoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDecoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDecoderMetaData.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeDecoderMetaData.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeErrorCorrectionLevel.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeErrorCorrectionLevel.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeFormatInformation.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeFormatInformation.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeMode.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeMode.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeVersion.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/decoder/ZXQRCodeVersion.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeAlignmentPattern.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeAlignmentPattern.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeAlignmentPatternFinder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeAlignmentPatternFinder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeDetector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeDetector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeFinderPattern.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeFinderPattern.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeFinderPatternFinder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeFinderPatternFinder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeFinderPatternInfo.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/detector/ZXQRCodeFinderPatternInfo.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCode.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCode.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeBlockPair.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeBlockPair.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeEncoder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeEncoder.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeMaskUtil.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeMaskUtil.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeMatrixUtil.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/encoder/ZXQRCodeMatrixUtil.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/multi/ZXQRCodeMultiReader.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/multi/ZXQRCodeMultiReader.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/multi/detector/ZXMultiDetector.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/multi/detector/ZXMultiDetector.m" />
    <header-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/multi/detector/ZXMultiFinderPatternFinder.h" />
    <source-file src="src/ios/ZXingObjC/ZXingObjC/qrcode/multi/detector/ZXMultiFinderPatternFinder.m" />

    <source-file src="src/ios/CDVBarcodeScanner.mm" compiler-flags="-fno-objc-arc"/>

    <framework src="libiconv.dylib"/>
    <framework src="AVFoundation.framework"/>
    <framework src="AssetsLibrary.framework"/>
    <framework src="CoreVideo.framework"/>
    <framework src="QuartzCore.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="CoreImage.framework"/>
    <framework src="AudioToolbox.framework"/>
  </platform>
  <platform name="android">
    <source-file src="src/android/com/phonegap/plugins/barcodescanner/BarcodeScanner.java" target-dir="src/com/phonegap/plugins/barcodescanner"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BarcodeScanner">
        <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false" />
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.FLASHLIGHT"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>
    <framework src="src/android/barcodescanner.gradle" custom="true" type="gradleReference"/>
    <resource-file src="src/android/barcodescanner-release-2.1.2.aar" target="libs/barcodescanner.aar"/>
    <dependency id="cordova-plugin-compat" version="^1.0.0"/>
  </platform>
  <platform name="windows">
    <js-module src="src/windows/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
      <merges target=""/>
    </js-module>
    <config-file target="package.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="webcam"/>
    </config-file>
    <framework src="src/windows/lib.UW/x86/ZXing.winmd" target-dir="x86" arch="x86" custom="true" versions=">8.1"/>
    <framework src="src/windows/lib.UW/x64/ZXing.winmd" target-dir="x64" arch="x64" custom="true" versions=">8.1"/>
    <framework src="src/windows/lib.UW/ARM/ZXing.winmd" target-dir="ARM" arch="ARM" custom="true" versions=">8.1"/>
    <framework src="src/windows/lib/WinRTBarcodeReader.csproj" custom="true" type="projectReference" versions="&lt;=8.1"/>
    <asset src="src/windows/assets/plugin-barcodeScanner.css" target="css/plugin-barcodeScanner.css"/>
    <hook src="hooks/windows/check-arch.js" type="before_compile"/>
    <hook src="hooks/windows/check-arch.js" type="before_run"/>
  </platform>
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="BarcodeScanner">
        <param name="wp-package" value="BarcodeScanner"/>
      </feature>
    </config-file>
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_ISV_CAMERA"/>
    </config-file>
    <framework src="src/wp8/lib/zxing.wp8.0.dll" custom="true"/>
    <asset src="src/wp8/assets/cancel.png" target="Images/appbar.cancel.png"/>
    <source-file src="src/wp8/BarcodeScanner.cs"/>
    <source-file src="src/wp8/BarcodeScannerTask.cs"/>
    <source-file src="src/wp8/BarcodeScannerUI.xaml"/>
    <source-file src="src/wp8/BarcodeScannerUI.xaml.cs"/>
  </platform>
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="BarcodeScanner">
        <param name="browser-package" value="BarcodeScanner"/>
      </feature>
    </config-file>
    <js-module src="src/browser/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
      <runs/>
    </js-module>
  </platform>
  <platform name="blackberry10">
    <source-file src="src/blackberry10/index.js" target-dir="BarcodeScanner"/>
    <source-file src="src/blackberry10/qrcode.js" target-dir="BarcodeScanner"/>
    <lib-file src="src/blackberry10/native/device/libBarcodeScanner.so" arch="device"/>
    <lib-file src="src/blackberry10/native/simulator/libBarcodeScanner.so" arch="simulator"/>
    <config-file target="www/config.xml" parent="/widget">
      <feature name="BarcodeScanner">
        <param name="blackberry-package" value="phonegap-plugin-barcodescanner"/>
      </feature>
    </config-file>
    <config-file target="www/config.xml" parent="/widget/rim:permissions">
      <rim:permit>use_camera</rim:permit>
    </config-file>
    <dependency id="cordova-plugin-bb-app"/>
  </platform>
</plugin>
